/* Página de Customização do arquivo index.html */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #050505;
}

header {
    background: linear-gradient(to bottom, #eb08f379, #050505);
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    border: #050505;
    padding: 10px;
    background-color: #080808f6;

}

.photo {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
}

.photo img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.photo:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(187, 46, 243, 0.897);
    cursor: pointer;
    }
@media (max-width: 768px) {
    .photo {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .photo {
        flex: 1 1 100%;
    }
}

footer {
    background: linear-gradient(to bottom, #050505, #eb08f379);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}